node_modules/
*.log
.env
.DS_Store
*.tmp
*.bak
*.swp
*.swo
*.zip
*.tar.gz
*.tgz
*.rar
*.7z
*.exe
*.dll
*.class
*.jar
*.war
*.pyc
__pycache__/
*.pdb
*.db
*.sqlite
*.sqlite3
*.iml
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.code-workspace
dist/
build/
coverage/
logs/
tmp/
temp/
.cache/
public/
package-lock.json
package.json